---
interface Props {
  username: string;
  bio: string;
  avatarUrl: string;
  backgroundColor?: string;
  textColor?: string;
}

const {
  username,
  bio,
  avatarUrl,
  backgroundColor = "#f9f9f9",
  textColor = "#333",
} = Astro.props as Props;
---

<div
  class="profile-header"
  style={`background-color: ${backgroundColor}; color: ${textColor};`}
>
  <!-- Left arrow icon -->
  <a href="/" class="back-icon" aria-label="back to home">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="24"
      fill="none"
      stroke="currentColor"
      stroke-width="2.5"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M15 8a.5.5 0 0 1-.5.5H3.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L3.707 7.5H14.5A.5.5 0 0 1 15 8z"
        stroke="currentColor"
        stroke-width="2.5"></path>
    </svg>
  </a>

  <img
    src={avatarUrl}
    alt={`Avatar de ${username}`}
    class="profile-header__avatar"
  />
  <h1 class="profile-header__username" style={`color: ${textColor};`}>
    {`@${username}`}
  </h1>
  <p class="profile-header__bio" style={`color: ${textColor};`}>{bio}</p>
</div>
